/target
multi_dimensional_vector.zip
all_individuals.csv
Hr_experiment.nlogo
*.png
output/all_global_variables.csv
output/all_grid_states.csv
output/all_groups.csv
.Rproj.user
R/.radian_profile
R/asf_bavaria_analysis/.lintr
R/asf_bavaria_analysis/.radian_profile
R/asf_bavaria_analysis/.Rhistory
R/asf_bavaria_analysis/asf_bavaria_analysis.Rproj
.vscode/bookmarks.json
*example_movement*
.radian_profile
input/landscape/test.asc
input/landscape/occupancy_prob_prediction_wildboar_summer_2018.tif
input/landscape/wb_50x50_prob_pred_s18.asc
output/all_dispersers.csv
temp_functions.txt
R/asf_bavaria_analysis/data_clusters.xlsx
R/asf_bavaria_analysis/clusterData.csv
logs/outputLog.log
output/all_roamers.csv
/logs
R/asf_bavaria_analysis/group1.csv
R/asf_bavaria_analysis/group23.csv
R/asf_bavaria_analysis/group51.csv
output/all_interaction_layer.csv
output/all_interaction_layer_tester.csv
output/all_interaction_layer_tester2.csv
output/all_interaction_layer_test4.bson
output/all_interaction_layer_tester3.csv
output/all_interaction_layer.bson
output/all_interaction_layer2.bson
.vscode/bookmarks-IZW-WS0158.json
