/target
multi_dimensional_vector.zip
all_individuals.csv
Hr_experiment.nlogo
*.png
output/all_global_variables.csv
output/all_grid_states.csv
output/all_groups.csv
.Rproj.user
R/.radian_profile
R/asf_bavaria_analysis/.lintr
R/asf_bavaria_analysis/.radian_profile
R/asf_bavaria_analysis/.Rhistory
R/asf_bavaria_analysis/asf_bavaria_analysis.Rproj
example_movement.gif
example_movement1.gif
example_movement2.gif
example_movement4.gif
example_movement3.gif
example_movement5.gif
.vscode/bookmarks.json
example_movement6.gif
