/target
multi_dimensional_vector.zip
all_individuals.csv
Hr_experiment.nlogo
*.png
output/all_global_variables.csv
output/all_grid_states.csv
output/all_groups.csv
.Rproj.user
R/.radian_profile
R/asf_bavaria_analysis/.lintr
R/asf_bavaria_analysis/.radian_profile
R/asf_bavaria_analysis/.Rhistory
R/asf_bavaria_analysis/asf_bavaria_analysis.Rproj
.vscode/bookmarks.json
*example_movement*
.radian_profile
input/landscape/test.asc
input/landscape/occupancy_prob_prediction_wildboar_summer_2018.tif
input/landscape/wb_50x50_prob_pred_s18.asc
output/all_dispersers.csv
temp_functions.txt
R/asf_bavaria_analysis/data_clusters.xlsx
R/asf_bavaria_analysis/clusterData.csv
logs/outputLog.log
output/all_roamers.csv
/logs
R/asf_bavaria_analysis/group1.csv
R/asf_bavaria_analysis/group23.csv
R/asf_bavaria_analysis/group51.csv
output/all_interaction_layer.csv
output/all_interaction_layer_tester.csv
output/all_interaction_layer_tester2.csv
output/all_interaction_layer_test4.bson
output/all_interaction_layer_tester3.csv
output/all_interaction_layer.bson
output/all_interaction_layer2.bson
.vscode/bookmarks-IZW-WS0158.json
R/asf_bavaria_analysis/visuals
/output
Documentation/Flow1.pptx
Documentation/modelDescription.md
/dump
Documentation/doc.md
Documentation/State of Model Development.docx
input/oct24_bavariaMaps/Bavaria.cpg
input/oct24_bavariaMaps/Bavaria.dbf
input/oct24_bavariaMaps/Bavaria.prj
input/oct24_bavariaMaps/Bavaria.sbn
input/oct24_bavariaMaps/Bavaria.sbx
input/oct24_bavariaMaps/Bavaria.shp
input/oct24_bavariaMaps/Bavaria.shp.xml
input/oct24_bavariaMaps/Bavaria.shx
input/oct24_bavariaMaps/dead_dat_reclass_val.rds
input/oct24_bavariaMaps/hs_bavaria_10_24.asc
input/oct24_bavariaMaps/shs_bavaria_10_24.asc
input/oct24_bavariaMaps/shs_bavaria_10_24.tif
input/oct24_bavariaMaps/suitability_hr_maxent_MCP95_MW2540_cover_fractions_beta_stretch.tif
input/oct24_bavariaMaps/suitability_landscape_maxent_MCP95_MW2540_MW10km_cover_fractions_beta_stretch.tif
input/oct24_bavariaMaps/suitability_si_maxent_MCP95_MW2540_MW10km_cover_fractions_beta_stretch.tif
